@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #313131;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 5px;
    font-size: 15px;
    position: absolute;
}
.nav-item{
    margin-left: 45px;
}

.nav-item a{
    font-size: 12px;
}

.navbar-nav li a:hover {
    cursor: pointer;
    color: #d40f45;
}

.navbar a,#play a{
    color: white;
}

.navbar .search{
    background-color: transparent;
    border: none;
}

.navbar #ingresar, .navbar #cerrar-sesion{
    border-radius: 20px;
    border: 2px solid #d40f45;
    background: rgba(217, 217, 217, 0.00);
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}


.navbar #ingresar a, .navbar #cerrar-sesion{
    padding-left: 15px;
    padding-right: 15px;
}

i{
    cursor: pointer;
}

.textFastx {
    width: fit-content;
    position: absolute;
    top: 300px;
    margin-left: 30px;
    z-index: 1;
    color: white;
  }

.naranja{
    color: #d40f45;
}

#informacion{
    display: flex;
    color: white;
    align-items: center;
    max-width: 600px;
}

.anio p, .genero{
    padding-top: 16px;
}

#informacion p, #informacion button {
    font-size: 12px;
  }

  @media (max-width: 767px) {
    .navbar-brand span {
        display: none;
    }

    .textFastx {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 10px;
    }

    .textFastx *:not(h1):not(samp):not(h2){
        font-size: 16px;
    }
    
    #informacion, #play {
      width: max-content;
    }

    #peliculas-container-proximamente{
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .scroll-left,
    .scroll-right {
        display: none;
    } 
       
    #pelicula-card-template{
        flex: 0 0 auto;
    }

    #peliculas-container-2023 .col-lg-3, #peliculas-container-AD .col-lg-3, #peliculas-container-Terror .col-lg-3, #peliculas-container-Crimen .col-lg-3, #peliculas-container-destacados .col-lg-3, #peliculas-container-CR .col-lg-3{
        width: 50% !important;
    }

    #peliculas-container-2023, #peliculas-container-AD, #peliculas-container-Terror, #peliculas-container-Crimen, #peliculas-container-destacados, #peliculas-container-CR{
        overflow-x: auto !important;
    }

    .card-title span{
        font-size: 2vw;
    }
    
    .card-text span{
        font-size: 2vw;
    }

    .col-3 .hd span{
        font-size: 2vw;
    }

}

@media (max-width: 576px) {
    #modal iframe {
      width: 100%;
      height: 100%;
    }

    .textFastx {
        top: 50%;
        margin-left: 0px;
    }

    .card-button .descripcion, .card-button .btn{
        font-size: 8px;
    }
    #peliculas-container-proximamente{
        margin-left: 0px;
        margin-right: 0px;
    }

}
  

.anio, #play{
    display: flex;
    align-items: center;
}

.anio > *{
    margin-right: 8px;
}

.hd{
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 15px;
}

.col-3 .hd{
    font-size: 1vw;
}

.tipo{
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 15px;
}

.genero{
    margin-right: 15px;
}

#play{
    border-radius: 24px;
    border: 2px solid #d40f45;
    background: rgba(36, 36, 36, 0.96);
    padding: 5px;
    margin-top: 10px;
}

#play i{
    padding-left: 7px;
}

#play > *{
    margin-right: 8px;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(2px);
}

.card{
    background-color: transparent;
    color: white;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 32px;
    margin-bottom: 5px;
}

#peliculas-container-proximamente{
    margin-left: 10px;
    margin-right: 10px;
}

.card-title{
    font-size: 1vw;
}

.card-text{
    font-size: 1vw;
}

.poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.card-img-top {
    transition: 0.5s;
  }
  
.card:hover .card-img-top {
    filter: blur(5px);
    filter: brightness(40%);
}


.card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
.card-button button {
    border-radius: 24px;
    border: 2px solid #d40f45;
    background: transparent;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 80%;
}
  
.descripcion{
    padding: 10px;
    text-align: center;
    font-size: 2vh;
}

  
.card:hover .card-button {
    visibility: visible;
    opacity: 1;
}
.ver-mas:hover{
    color: #d40f45;
    border: 2px solid white;
}


.scroll-left,
.scroll-right {
  background-color: transparent;
  border: none;
  width: 160px;
  height: 50px;
}

.TituloP {
    text-align: center;
}

footer{
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: #d40f45;
}


  
  



