@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    overflow: hidden;
}
body {
    margin: 0;
    background-color: #454545;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2vh;
    position: absolute;
    z-index: 99999;
}
.nav-item{
    margin-left: 45px;
}


.navbar-nav li a:hover {
    cursor: pointer;
    color: #d40f45;
  }

.navbar a,.play a{
    color: white;
}

.navbar .search{
    background-color: transparent;
    border: none;
}

.navbar #ingresar, .navbar #cerrar-sesion{
    border-radius: 20px;
    border: 2px solid #d40f45;
    background: rgba(217, 217, 217, 0.00);
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}


.navbar #ingresar a, .navbar #cerrar-sesion{
    padding-left: 15px;
    padding-right: 15px;
}

i, a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#logo:hover{
    color: white;
}

a:hover {
    color: #d40f45;
}


.background--img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    height: 100vh;
    -webkit-filter: brightness(40%);
    filter: brightness(30%);
    z-index: 0;
}

#botones {
    display: inline-flex;
}

#botones a:hover{
    color: white;
}

button {
    margin-right: 15px;
}

.container {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
    justify-content: center;
  }
 
.col-md-4, col-lg-4 {
    flex: 1;
}
  
#poster-imagen {
    width: 70%;
    border: white solid 2px;
  }
  

.textFastx{
    width: fit-content;
    z-index: 1;
    color: white;
    margin-right: 50px;
}


.naranja{
    color: #d40f45;
}

#informacion{
    display: flex;
    color: white;
    align-items: center;
    max-width: 600px;
}

.anio p, .genero{
    padding-top: 16px;
}

#informacion p, #informacion button {
    font-size: 12px;
  }


.anio, .play{
    display: flex;
    align-items: center;
}

.anio > *{
    margin-right: 8px;
}

.hd{
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 15px;
}

.col-3 .hd{
    font-size: 1vw;
}

.tipo{
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 15px;
}

.genero{
    margin-right: 15px;
}

.play, .boton-info{
    border-radius: 24px;
    border: 2px solid #d40f45;
    background: rgba(36, 36, 36, 0.96);
    padding: 5px;
    margin-top: 10px;
}

.play i, .boton-info i{
    padding-left: 7px;
}

.play > *, .boton-info > *{
    margin-right: 8px;
}

.boton-info a{
    color: white;
}


.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1023px) {
    .navbar{
        font-size: 0.9vh;
    }
    .navbar-brand img{
        height: 2vh!important;
    }
    .navbar-brand{
        font-size: 1vh;
    }
    
    #botones a{
        font-size: 1.1vh;
    }
}

@media (max-width: 767px) {
    .navbar{
        font-size: 2vh;
    }
    .navbar-brand img{
        height: 5vh!important;
    }
    .navbar-brand{
        font-size: 2vh;
    }

    .navbar.expanded {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar-brand span {
        display: none;
    }



    a:not(.navbar .nav-item a,#botones a){
        color: black !important;
    }   


    #poster-imagen{
        width: 35%;
        margin-top: 30px;
    }

    .textFastx {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0px;
        padding: 10px;
        margin-bottom: 100px;
    }


    .textFastx *:not(h1):not(.naranja){
        font-size: 16px;
    }
    
    #informacion, .play {
      width: max-content;
    }

}

@media (max-width: 400px){
    .textFastx *:not(h1):not(.naranja){
        font-size: 12px;
    }
    
    #poster-imagen{
        width: 50%;
        margin-top: 50px;
    }
}




  

