@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #161616;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 5px;
    font-size: 2vh;
}
.nav-item{
    margin-left: 45px;
}

.navbar-nav li a:hover {
    cursor: pointer;
    color: #d40f45;
}

.navbar a,#play a{
    color: white;
}

.navbar .search{
    background-color: transparent;
    border: none;
}

.navbar #ingresar, .navbar #cerrar-sesion{
    border-radius: 20px;
    border: 2px solid #d40f45;
    background: rgba(217, 217, 217, 0.00);
    margin-left: 15px;
    margin-right: 15px;
}


.navbar #ingresar a, .navbar #cerrar-sesion{
    padding-left: 15px;
    padding-right: 15px;
    color: white !important;
}

i, a{
    cursor: pointer;
    color: black;
}

a:hover {
    color: #d40f45;
}


.hd{
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.col-4 .hd{
    font-size: 0.6vw;
}

#play{
    border-radius: 24px;
    border: 2px solid #d40f45;
    background: rgba(36, 36, 36, 0.96);
    padding: 5px;
    margin-top: 10px;
}

#play i{
    padding-left: 7px;
}

#play > *{
    margin-right: 8px;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    backdrop-filter: blur(2px);
}

#todo-peliculas{
    overflow-x: auto !important;
    --bs-gutter-x: 0.8rem !important;
}

.card{
    background-color: transparent;
    color: white;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.card-body svg{
    transform: scale(0.7)
}


.card-title{
    font-size: 0.8vw;
}

.card-text{
    font-size: 0.6vw;
}

.poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.card-img-top {
    transition: 0.5s;
  }
  
.card:hover .card-img-top {
    filter: blur(5px);
    filter: brightness(40%);
}


.card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
.card-button button {
    border-radius: 24px;
    border: 2px solid #d40f45;
    background: transparent;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 60%;
}
  
.descripcion{
    padding: 10px;
    text-align: center;
    font-size: 1.5vh;
}

#titulo-anio{
    height: 5.5vh;
}

.card:hover .card-button {
    visibility: visible;
    opacity: 1;
}
.ver-mas:hover{
    color: #d40f45;
    border: 2px solid white;
}


#TituloP h1 {
    color: white;
    text-shadow: 2px 6px 8px black;
}


select {
    margin-left: 20px;
    max-width: 160px;
    height: 35px;
  }
  
.container-fluid {
    padding-left: 20px;
 }



footer{
    color: white;
    bottom: 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: #d40f45;
}

@media (max-width: 1200px) {
    .card-text{
        font-size: 0.45vw;
    }

    .card-title{
        font-size: 0.8vw;
    }

}

@media (max-width: 1023px) {
    .navbar{
        font-size: 1vh;
    }
    .navbar-brand img{
        height: 2vh!important;
    }
    .navbar-brand{
        font-size: 1vh;
    }
    .card-text{
        font-size: 0.8vw;
    }

    #genero{
        font-size: 1vw;
    }

    #titulo-anio{
        height: 3vh;
    }
    .descripcion, .card-button button{
        font-size: 0.8vh;
    }
}

@media (max-width: 767px) {
    .navbar{
        font-size: 2vh;
    }
    .navbar-brand img{
        height: 5vh!important;
    }
    .navbar-brand{
        font-size: 2vh;
    }
    
    .navbar.expanded {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar-brand span {
        display: none;
    }

    a:not(.navbar .nav-item a,#play a, footer a){
        color: black !important;
    }    

    .textFastx *:not(h1):not(samp):not(h2){
        font-size: 20px ;
    }
    
    #informacion, #play {
      width: max-content;
    }
       
    #pelicula-card-template{
        flex: 0 0 auto;
    }

    #todo-peliculas .col-lg-2, #todo-series .col-lg-2{
        width: 50% !important;
    }


    .card-title span{
        font-size: 2vw;
    }
    
    .card-text span{
        font-size: 1.7vw;
    }

    .col-4 .hd span{
        font-size: 2vw;
    }

    select {
        margin-left: 20px;
        max-width: 150px;
        height: 35px;
    }

    #ordenar-peliculas, #ordenar-series{
        font-size: 2.8vh;
        margin-right: 0.5vh;
    }

    #genero{
        font-size: 2vw;
    }


}

@media (max-width: 576px) {
    #modal iframe {
      width: 100%;
      height: 100%;
    }


    .textFastx *:not(h1):not(samp):not(h2){
        font-size: 15px;
    }

    .card-button .descripcion, .card-button .btn{
        font-size: 8px;
    }


    #todo-peliculas,#todo-series{
        --bs-gutter-x: 0.6rem !important;
    }

    select {
        max-width: 135px;
    }

    #ordenar-peliculas,#ordenar-series{
        font-size: 3.1vw;
        margin-right: 0.4vh;
    }

}